*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Open Sans", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  font-size: 16px;
  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: black;
  --clr-accent: #3aa9d7;
  --clr-primary: #151965;
  --clr-secondary: #212798;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    font-size: 18px;
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  color: black;
}

/* Header */

header {
  padding-left: 3em;
  padding-right: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-light);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header ul {
  list-style-type: none;
}
header li {
  font-size: 0.8em;
  padding: 1em;
  float: left;
}

.logo {
  flex: 2;
}
.logo-img {
  max-width: 8em;
}
.contact-us {
  font-size: 0.8em;
  text-decoration: none;
  color: var(--clr-light);
  padding: 0.25em 0.75em;
  margin: 2em 2em;
  background-color: var(--clr-secondary);
  border-radius: 10px;
}

.container {
  padding: 5.5rem 6rem 2rem;
  height: 100vh;
}
.container h1 {
  color: var(--clr-primary);
  max-width: 60%;
  font-size: 3.25em;
}
.container p {
  max-width: 30%;
}
